.navContainer {
  background-color: rgba(33, 36, 38, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* opacity: 0.7; */
  z-index: 15;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.center {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  justify-content: center;
  align-items: center;
}

.center ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.right {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.right .cart {
  color: white;
}
.right .hamBurgerMenu {
  color: white;
}
.right .account {
  color: white;
}
.iconContainer {
  color: palevioletred;
}
.navContainer .left .brand .brandName {
  font-family: "Allura", cursive;
  font-size: 50px;
  font-weight: 600;
  color: palevioletred;
  /* line-height: 30px; */
}
